//  FONT
//  ====

//  font weights
//  ============

    //  font weight - normal
    //  ====================

        %font-weight-normal {
            font-weight: 400;
        }

    //  font weight - bold
    //  ==================

        %font-weight-bold {
            font-weight: 600;
        }

    //  font weight - light
    //  ===================

        %font-weight-light {
            font-weight: 300;
        }