//  GUTTERS
//  =======

//  gutter - both
//  =============

    %gutter {
        padding-left: gap(.5);
        padding-right: gap(.5);
    }

    %gutter-large {
        padding-left: gap();
        padding-right: gap();
    }

    %gutter-small {
        padding-left: gap(.25);
        padding-right: gap(.25);
    }

    %gutter-none {
        padding-left: 0;
        padding-right: 0;
    }


//  gutter - left
//  =============

    %gutter-left {
        padding-left: gap(.5);
    }

    %gutter-left-large {
        padding-left: gap();
    }

    %gutter-left-small {
        padding-left: gap(.25);
    }

    %gutter-left-none {
        padding-left: 0;
    }


//  gutter - right
//  ==============

    %gutter-right {
        padding-right: gap(.5);
    }

    %gutter-right-large {
        padding-right: gap();
    }

    %gutter-right-small {
        padding-right: gap(.25);
    }

    %gutter-right-none {
        padding-right: 0;
    }