//  MARGINS
//  =======

//  margin bottom - only
//  ====================

    %margin-bottom-only {
        margin: 0 0 gap();
    }


//  margin bottom
//  =============

    %margin-bottom {
        margin-bottom: gap();
    }


//  margin left & right - auto
//  ==========================

    %margin-left-right-auto {
        margin-left:  auto;
        margin-right: auto;
    }