//  TEXT
//  ====

//  text alignments
//  ===============

    //  text align - left
    //  -----------------

        %text-align-left {
            text-align: left;
        }


    //  text align - right
    //  -----------------

        %text-align-right {
            text-align: right;
        }


    //  text align - centre
    //  -----------------

        %text-align-centre {
            text-align: center;
        }


    //  text align - justify
    //  --------------------

        %text-align-justify {
            text-align: justify;
        }