//  ----------------------------
//  margins & gutters : patterns
//  ----------------------------


//  margins
    %margin-none {
      margin: 0;
    }

    %margin-centre {
      margin-left:  auto;
      margin-right: auto;
    }

    %margin-bottom-only {
      margin: 0 0 gap();
    }

    %margin-right-only {
      margin: 0 gap() 0 0;
    }

    @each $dir in right, bottom {

      %margin-#{$dir} {
        margin-#{$dir}: gap();
      }

    }

    @each $dir in top, left {

      %margin-#{$dir}-none {
        margin-#{$dir}: 0;
      }

    }


//  gutters
    %gutter {
      padding-left:  gap();
      padding-right: gap();
    }

    %gutter-small {
      padding-left:  gap(.5);
      padding-right: gap(.5);
    }

    %gutter-none {
      padding: 0;
    }

    @each $dir in top, right, bottom, left {

      %gutter-#{$dir} {
        padding-#{$dir}: gap();
      }

    }

    %gutter-left-only {
      padding: 0 0 0 gap();
    }

    %gutter-right-only {
      padding: 0 gap() 0 0;
    }