//  ----------------------------
//  margins & gutters : patterns
//  ----------------------------


//  margins
    %margin-none {
      margin: 0;
    }

    %margin-center {
      margin-left:  auto;
      margin-right: auto;
    }

    %margin-bottom-only {
      margin: 0 0 gap();
    }

    %margin-left-only {
      margin: 0 0 0 gap();
    }

    %margin-top-none {
      margin-top: 0;
    }

    %margin-left-none {
      margin-left: 0;
    }

    %margin-right {
      margin-right: gap();
    }

    %margin-bottom {
      margin-bottom: gap();
    }


//  gutters
    %gutter {
      padding-left:  gap();
      padding-right: gap();
    }

    %gutter-small {
      padding-left:  gap(.5);
      padding-right: gap(.5);
    }

    %gutter-none {
      padding: 0;
    }

    @each $dir in top, right, bottom, left {

      %gutter-#{$dir} {
        padding-#{$dir}: gap();
      }

    }

    %gutter-left-only {
      padding: 0 0 0 gap();
    }

    %gutter-right-only {
      padding: 0 gap() 0 0;
    }