/*
Error: Invalid CSS after "..."generic/text",": expected file to import (string or url()), was "<<<<<<< HEAD"
        on line 31 of /Users/dcastillo/Sites/freshly-squeezed/scss/freshly-squeezed.scss

26: 
27: 
28: //  generic
29:     "generic/main",
30:     "generic/text",
31: <<<<<<< HEAD
32:     "generic/tables",
33:     "generic/lists",
34:     "generic/inputs",
35:     "generic/forms",
36: 

Backtrace:
/Users/dcastillo/Sites/freshly-squeezed/scss/freshly-squeezed.scss:31
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:1163:in `expected'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:1099:in `expected'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:1079:in `expr!'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:368:in `block in import_directive'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:367:in `loop'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:367:in `import_directive'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:194:in `directive'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:660:in `block_child'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/scss/parser.rb:42:in `parse'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/engine.rb:393:in `_to_tree'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/engine.rb:268:in `render'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:329:in `block in watch'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/dcastillo/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...\"generic/text\",\": expected file to import (string or url()), was \"<<<<<<< HEAD\"\A         on line 31 of /Users/dcastillo/Sites/freshly-squeezed/scss/freshly-squeezed.scss\A \A 26: \A 27: \A 28: //  generic\A 29:     \"generic/main\",\A 30:     \"generic/text\",\A 31: <<<<<<< HEAD\A 32:     \"generic/tables\",\A 33:     \"generic/lists\",\A 34:     \"generic/inputs\",\A 35:     \"generic/forms\",\A 36: "; }
