//  ------------------------
//  viewports : vars : utils
//  ------------------------

    $mob-viewport  : 0px    !default;
    $phab-viewport : 540px  !default;
    $tab-viewport  : 600px  !default;
    $lap-viewport  : 992px  !default;
    $desk-viewport : 1440px !default;
