//  FRESHLY SQUEEZED THEME
//  ======================

    #nav,
    #content {
        padding-top: gap();
    }

    #menu-switch--open {
        @include text(2);
        
        position: fixed;
        top: gap();
        right: gap();
    }

    #menu-switch:checked ~ #content {
        transform: translateX(calc(#{cols(8)} - #{gap(2)}));

        #menu-switch--close {
            @extend .show;

            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }

    @include media-query($mob, $tab) {
        #nav {
            height: 100%;
            background-color: red;
            position: fixed;
            z-index: 0;
        }

        #content {
            background-color: white;
            position: absolute;
            z-index: 1;
        }
    }