/* line 8, ../scss/modules/_grid.scss */
.spans {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -moz-flex;
  -moz-flex-wrap: wrap;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

/* line 18, ../scss/modules/_grid.scss */
[class*="span__"] {
  -webkit-order: 0;
  -moz-order: 0;
  -ms-order: 0;
  order: 0;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__1of12 {
  -webkit-flex: 0 1 8.33333%;
  -moz-flex: 0 1 8.33333%;
  -ms-flex: 0 1 8.33333%;
  flex: 0 1 8.33333%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__2of12 {
  -webkit-flex: 0 1 16.66667%;
  -moz-flex: 0 1 16.66667%;
  -ms-flex: 0 1 16.66667%;
  flex: 0 1 16.66667%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__3of12 {
  -webkit-flex: 0 1 25%;
  -moz-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__4of12 {
  -webkit-flex: 0 1 33.33333%;
  -moz-flex: 0 1 33.33333%;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__5of12 {
  -webkit-flex: 0 1 41.66667%;
  -moz-flex: 0 1 41.66667%;
  -ms-flex: 0 1 41.66667%;
  flex: 0 1 41.66667%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__6of12 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__7of12 {
  -webkit-flex: 0 1 58.33333%;
  -moz-flex: 0 1 58.33333%;
  -ms-flex: 0 1 58.33333%;
  flex: 0 1 58.33333%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__8of12 {
  -webkit-flex: 0 1 66.66667%;
  -moz-flex: 0 1 66.66667%;
  -ms-flex: 0 1 66.66667%;
  flex: 0 1 66.66667%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__9of12 {
  -webkit-flex: 0 1 75%;
  -moz-flex: 0 1 75%;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__10of12 {
  -webkit-flex: 0 1 83.33333%;
  -moz-flex: 0 1 83.33333%;
  -ms-flex: 0 1 83.33333%;
  flex: 0 1 83.33333%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__11of12 {
  -webkit-flex: 0 1 91.66667%;
  -moz-flex: 0 1 91.66667%;
  -ms-flex: 0 1 91.66667%;
  flex: 0 1 91.66667%;
}

/* line 25, ../scss/utils/mixins/_generate-spans.scss */
.span__12of12 {
  -webkit-flex: 0 1 100%;
  -moz-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

@media screen and (max-width: 61.9375em) {
  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__1of6 {
    -webkit-flex: 0 1 16.66667%;
    -moz-flex: 0 1 16.66667%;
    -ms-flex: 0 1 16.66667%;
    flex: 0 1 16.66667%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__2of6 {
    -webkit-flex: 0 1 33.33333%;
    -moz-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__3of6 {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__4of6 {
    -webkit-flex: 0 1 66.66667%;
    -moz-flex: 0 1 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex: 0 1 66.66667%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__5of6 {
    -webkit-flex: 0 1 83.33333%;
    -moz-flex: 0 1 83.33333%;
    -ms-flex: 0 1 83.33333%;
    flex: 0 1 83.33333%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__6of6 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 37.4375em) {
  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__1of3 {
    -webkit-flex: 0 1 33.33333%;
    -moz-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__2of3 {
    -webkit-flex: 0 1 66.66667%;
    -moz-flex: 0 1 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex: 0 1 66.66667%;
  }

  /* line 11, ../scss/utils/mixins/_generate-spans.scss */
  .span__3of3 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}
