//  PUSH & PULL
//  =======================================
//  use push or pull to move content around
//  =======================================

    [class*="push"],
    [class*="pull"] {
        @extend %position-relative;
    }


    //  large device pushes and pulls
    //  -----------------------------

        @each $x in 0, 1, 2, 3 {
            .push#{$x}of3 {
                left: 100% / 3 * $x;
            }

            .pull#{$x}of3 {
                right: 100% / 3 * $x;
            }
        }

        @for $x from 0 through 5 {
            .push#{$x}of5 {
                left: 100% / 5 * $x;
            }

            .pull#{$x}of5 {
                right: 100% / 5 * $x;
            }
        }

        @for $x from 0 through 8 {
            @include push-pull("push", "cols", $x, 8);
            @include push-pull("pull", "cols", $x, 8);
            @include push-pull("push", "gttr", $x, 8);
            @include push-pull("pull", "gttr", $x, 8);
        }


    //  small device pushes and pulls
    //  -----------------------------

        @include media-query(0px, $tab) {
            @for $x from 0 through 4 {
                .push#{$x}of8 {
                    left: 0;
                }

                .pull#{$x}of8 {
                    right: 0;
                }
            }

            @for $x from 5 through 8 {
                .push#{$x}of8 {
                    left: cols(4);
                }

                .pull#{$x}of8 {
                    right: cols(4);
                }
            }

            @each $x in 0, 1, 2 {
                @include push-pull("push", "cols", $x, 2);
                @include push-pull("pull", "cols", $x, 2);
            }
        }


    //  medium device pushes and pulls
    //  ------------------------------

        @include media-query($tab, $lap) {
            @each $x in 0, 1, 2 {
                .push#{$x}of8 {
                    left: 0;
                }

                .pull#{$x}of2 {
                    right: 0;
                }
            }

            @each $x in 3, 4 {
                .push#{$x}of8 {
                    left: cols(2);
                }

                .pull#{$x}of8 {
                    right: cols(2);
                }
            }

            @each $x in 5, 6 {
                .push#{$x}of8 {
                    left: cols(4);
                }

                .pull#{$x}of8 {
                    right: cols(4);
                }
            }

            @each $x in 7, 8 {
                .push#{$x}of8 {
                    left: cols(6);
                }

                .pull#{$x}of2 {
                    right: cols(6);
                }
            }

            @for $x from 0 through 4 {
                @include push-pull("push", "cols", $x, 4);
                @include push-pull("pull", "cols", $x, 4);
            }
        }