//  RULES
//  =====

    .rule {
        margin: 0 0 gap(1, -2px);
        border: 1px solid;
        border-color: $border transparent transparent $border;
    }


//  table rule
//  ==========

    .table-rule {
        height: gap(.25);
        background-color: $table-border;

        &:hover {
            background-color: $table-border;
        }
    }