//  WRAPPERS
//  ========

//  wrapper
//  =====================
//  the main view wrapper
//  =====================

    .wrapper {
        padding-left:  cols(1.5);
        padding-right: cols(1.5);

        @include media-query($max: $lap) {
            padding-left:  cols(1.5);
            padding-right: cols(1.5);
        }
    }