//  TABLE
//  =====

    .table-wrap {
        width: cols(8);
        margin-top: -1px;
        overflow-x: auto;
    }

        table {
            @extend %margin-bottom;

            width: cols(8);
            box-shadow: inset 0 1px $table-highlight;
            overflow-x: auto;
        }

            thead {
                @include text(.9);

                background-color: $table-bg;
            }

            tbody {
                @include text(.8);

                > tr:nth-child(2n) {
                    background-color: $table-row-even-bg;
                }

                > tr:hover {
                    background-color: $table-cell-highlight;
                }
            }

                    th {
                        padding: 0 gap(.5);
                        border: 1px solid $table-border;
                        line-height: gap(1.5, -1px);
                    }

                    td {
                        padding: 0 gap(.5);
                        border: 1px solid $table-border;
                        line-height: gap(1, -1px);

                        &:hover {
                            background-color: darken($table-cell-highlight, 10%);
                        }
                    }