//  FONTS
//  =====

//  font settings
//  =============

    $font-size:   18px;
    $line-height: 1.555555555555556;


//  font family stacks
//  ==================

    $sans-serif: "helvetica neue", helvetica, arial, sans-serif;
    $serif:      georgia, times, "times new roman", serif;