//  ---------------
//  spans : modules
//  ---------------

    @if $use-flexbox {

      //  flexbox spans
          .spans {
            padding-left:  gap(.5);
            padding-right: gap(.5);

            @each $vendor in -webkit-, -moz-, -ms-, "" {

              display: #{$vendor}flex;
              #{$vendor}flex-flow: row wrap;

            }
          }

          //  spans
              [class*="span__"] {
                padding-left:  gap(.5);
                padding-right: gap(.5);

                @each $vendor in -webkit-, -moz-, -ms-, "" {

                  #{$vendor}order: 0;

                }
              }

          //  desktop spans
              .span__fill {
                flex: 1 1 0;
              }

              @include generate-spans();

              @if $is-responsive {

                //  tablet spans
                    @include generate-spans(check-division($grid-columns, 2), $lap-viewport);

                //  mobile spans
                    @include generate-spans(check-division($grid-columns, 4), $tab-viewport);
              }


    } @else {

      //  classic grid system to go here

    }